body {
  background-color: #eee
}

.nostyle {
  text-decoration: none;
}

iframe {
  padding-bottom: 1em;
}

.script {
  font-family: Courier, serif;
}

.quote {
  font-family: Courier, serif;
  font-style: italic;
}

.logo {
  width: 250px;
  display: block;
}

.logo_sm {
  width: 100px;
  display: block;
}

table {
  border: none;
  width: 100%;
}

.episodes {
  padding-top: 1em
}
.a2a_kit {
  padding-bottom: 1em;
}

.wrapper {
  font-family: 'Heebo', sans-serif;

  width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 3em 6em 1em;
}

.icon {
  width: 32px;
  display: inline-block
  border: none;
}
  
.block {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.ticon {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 3px;
}

.footer {
  font-size: 12px;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}
